.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}


.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button {
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 40px;
  line-height: 36px;
  padding: 0 1px;
  border-radius: 4px;
  overflow: visible;
}

.mat-toolbar.mat-primary {
  height: 2.5em;
  color: #ffffff;
  border-bottom-color: #4f4f4f;
  border-bottom: 1px;
  /* margin-bottom: 10px; */
  z-index: 4;
  box-shadow: -2px 2px 11px 0px rgba(0,0,0,.54), 2px 2px 12px 0px rgba(0,0,0,.42), 1px 4px 4px 0px rgba(0,0,0,.26);
}

p.nombremenu {
  font-size: 0.7em;
}