
<h2 mat-dialog-title>Empresas</h2>

<mat-card>

    <mat-card-title class="element-center">
        Editar Empresas
  </mat-card-title>  

    <mat-card-content>
        <mat-form-field class="mat-form-field-login">
            <input matInput placeholder="Nombre" [(ngModel)]="nombre" required>
        </mat-form-field>
    </mat-card-content>
    <mat-card-content>
        <mat-form-field class="mat-form-field-login">
            <input matInput placeholder="Rut" [(ngModel)]="rut" required>
        </mat-form-field>
    </mat-card-content>
    <mat-card-content>
        <mat-form-field class="mat-form-field-login">
            <input matInput placeholder="Dirección" [(ngModel)]="direccion" required>
        </mat-form-field>
    </mat-card-content>
    <mat-card-content>
        <mat-form-field class="mat-form-field-login">
            <input matInput placeholder="URL Logo" [(ngModel)]="logo" required>
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="warn" (click)="guardar()"><mat-icon>save</mat-icon>Guardar</button>  
      <button mat-raised-button color="warn" routerLink="/empresasadmin"><mat-icon>close</mat-icon>Cancelar</button>
    </mat-card-actions>
</mat-card>
