<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" [dataSource]="dataSource" matSort aria-label="Elements">

    <ng-container matColumnDef="estadosObrasId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.estadosObrasId}}</td>
    </ng-container>
    <ng-container matColumnDef="titulo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Titulo Estado</th>
      <td mat-cell *matCellDef="let row">{{row.titulo}}</td>
    </ng-container>
    <ng-container matColumnDef="nombreObra">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Obra</th>
      <td mat-cell *matCellDef="let row">{{row.nombreObra}}</td>
    </ng-container>
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha del Estado</th>
      <td mat-cell *matCellDef="let row">{{row.fecha}}</td>
    </ng-container>
    <ng-container matColumnDef="comentario">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Comentario</th>
      <td mat-cell *matCellDef="let row">{{row.comentario}}</td>
    </ng-container>
    <ng-container matColumnDef="nombreProyecto">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Proyecto</th>
      <td mat-cell *matCellDef="let row">{{row.nombreProyecto}}</td>
    </ng-container>
    <ng-container matColumnDef="nombreEmpresa">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Empresa</th>
      <td mat-cell *matCellDef="let row">{{row.nombreEmpresa}}</td>
    </ng-container>

    <ng-container matColumnDef="opciones">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Opciones</th>
      <td mat-cell *matCellDef="let row">
        <button mat-button matTooltip="Editar el dato" [routerLink]="['/editar-estadosadmin', row.estadosObrasId]"><mat-icon>edit</mat-icon></button>
        <button mat-button matTooltip="Eliminar el dato" (click)="delete(row)" ><mat-icon>delete_sweep</mat-icon></button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource.data.length"
      [pageIndex]="0"
      [pageSize]="15"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
