<mat-toolbar color="primary">Obras del Proyecto {{proyecto.nombreProyecto}}</mat-toolbar>

<div class="container-home">
<mat-card class="card" *ngIf="isLoading">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
</mat-card>

<mat-card class="card" *ngFor="let o of obras" >
    <mat-card-header>
      <!--div mat-card-avatar class="header-image"></div-->
      <mat-card-title>{{ o.nombreObra }}</mat-card-title>
      <mat-card-subtitle>Fecha de Inicio: {{ o.fechaInicio }}</mat-card-subtitle>
      <mat-card-subtitle>Dirección: {{ o.direccion }}</mat-card-subtitle>
    </mat-card-header>
    <!--img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"-->
    <!--mat-card-content>
      <p>
        {{ o.direccion }}
      </p>
    </mat-card-content-->
    <mat-card-actions>
      <button mat-button color="primary" routerLink="/home-estados/{{ o.obraId}}" >Ver Estados</button>
    </mat-card-actions>
</mat-card>
</div>